<% include header %>

<% if(!user) {%>
<form action="/login" method="post" class="form-horizontal">
    
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10"><input type="email" name="email" class="form-control" id="email" placeholder="E-mail"></div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10"><input type="password" name="password" class="form-control" id="password" placeholder="Password"></div>
    </div>
    
    
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            
            <div class="pull-left">
                <input type="submit" value="Login" class="btn btn-primary">&nbsp;Or&nbsp;
                <a href="/register" class="btn btn-default">Create Account</a>
            </div>
            
            
        </div>
        <input type="hidden" name="nonce" value="<%= nonce%>">
    </div>
</form>
<% } else { %>
<p class="alert alert-info">Welcome <%= user.displayName %>, not <%= user.displayName %>? <a href="/logout">Log Out</a></p>
<% } %>


<% include footer %>